<h1>All the tournaments!</h1>
<div class="box">
<% if @tournaments.empty? %>
  There are no tournaments, you can Create one at the top left!
<% else %>
<ul>
<% @user.tournaments.each do |tour| %>
  <li class="large-selection"><%=link_to tour.name, tour, class: "ui inverted button" %></li>
<%end %>
</ul>
<% end %>
</div>
