
<h1>Welcome to Table Tennis Tournaments!</h1>

<h2>Rules: </h2>

<div class="box">
  <h3>Serve</h3>
  <p>The serve switches every two points. A serve must bounce off of each side of the table once.</p>
  <h3>Point</h3>
  <p>The game ends when a player reaches 11 points. Players have to win by two points. If a player hits the ball without it first bouncing off of the table, he/she loses the point.</p>
</div>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
