
<h1>Weclome to the ranks!</h1>
<div class="box"><p>

<ol>

  <table class="ui celled table">
    <tr>
      <th>Rank</th>
      <th>Nickname</th>
      <th>Full Name</th>
      <th>Points</th>
    </tr>
    <% @ranks.each_with_index do |player, i| %>
    <tr>
      <td> <%= i +1  %> </td>
      <td><%= link_to player.nickname, player %></td>
      <td> <%= player.name %> </td>
      <td> <%= player.points %> </td>

    </tr>

    <% end %>
  </table>

</ol>
</div>
