/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .menu-nav-bar {
   display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 0;
    align: center;
 }

 li.menu-item {
   padding: 0px 10px;
 font-size: 2em;
 }

 a.nav-item {
   background-color: black;
   color: white;
   padding: 10px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
 }

 body {
   background-image: url("http://www.portoalegre.travel/upload/b/134/1340763_ping-pong-wallpaper.jpg");
   background-attachment: fixed;
   background-size: cover;
   font-family: monaco, Consolas, "Lucida Console", monospace;
 }

 .box {
   margin: 20px;
   padding: 30px;
   background-color: rgba(255, 255, 255, 0.5);
  }

  input {
    border-radius: 5px;
  }

  table {
    border: 1px solid black;
    border-radius: 5px;
  }

  th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
  }
