// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *  Flex Layout Specifics
*/
#tournname{
  background-color: white;
  color: black;
  text-align: center;
}
// main{
//   display:flex;
//   flex-direction:row;
// }
// .round{
//   display:flex;
//   flex-direction:column;
//   justify-content:center;
//   width:200px;
//   list-style:none;
//   padding:0;
// }
//   .round .spacer{ flex-grow:1; }
//   .round .spacer:first-child,
//   .round .spacer:last-child{ flex-grow:.5; }
//
//   .round .game-spacer{
//     flex-grow:1;
//   }
//
// /*
//  *  General Styles
// */
// body{
//   font-family:sans-serif;
//   font-size:small;
//   padding:10px;
//   line-height:1.4em;
// }
//
// li.game{
//   padding-left:20px;
// }
//
//   // li.game.winner{
//   //   font-weight:bold;
//   // }
//   li.game span{
//     float:right;
//     margin-right:5px;
//   }
//
//   li.game-top{
//     background: white;
//     border-bottom:5px solid #aaa;
//   }
//
//   li.game-spacer{
//     border-right:5px solid #aaa;
//     min-height:40px;
//   }
//
//   li.game-bottom{
//     background: white;
//     border-top:5px solid #aaa;
//   }
//   li.game-botttomwinner{
//     font-weight:bold;
//     background: green;
//     border-top:5px solid #aaa;
//   }
//   li.game-topwinner{
//     font-weight:bold;
//     background: green;
//     border-bottom:5px solid #aaa;
//   }
//
//   li.game-winner{
//     background: green;
//     border-top:5px;
//
//   }
//
//   html {
//   height: 100%;
//   width: 100%;
// }
//
// body {
//   font-family: sans-serif;
//   margin: 0;
//   height: 100%;
// }

.tournament-container {}

.tournament-headers {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;

  h3 {
    width: 50%;
    text-align: center;
    font-weight: 400;
    border-right: 1px dashed #ccc;
    margin: 0;
    padding: 1rem;
    background-color: #5F9EA0;
    color: black;
  }
}

.tournament-brackets {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
}

.bracket {
  padding-left: 0;
  display: flex;
  margin: 0;
  padding: 30px 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  border-right: .5px dashed grey;
  flex: 1
}

.team-item {
    background-color: rgb(255, 228, 196);
    padding: .5rem;
    display: block;
    margin: .5rem 10px;
    position: relative;
    vertical-align: middle;
    line-height: 2;
    text-align: center;
}


.team-item:after {
  content:'';
  border-color: black;
  border-width: 4px;
  position: absolute;
  display: block;
  width: 10px;
  right: -11px;
}

.team-item:nth-of-type(odd):after {
  border-right-style: solid;
  border-top-style: solid;
  height: 100%;
  top: 50%;
}

.team-item:nth-of-type(even):after {
  border-right-style: solid;
  border-bottom-style: solid;
  height: 100%;
  top: -50%;
}

.team-item:before {
  content:'';
  border-top: 4px solid black;
  position: absolute;
  height: 2px;
  width: 10px;
  left: -10px;
  top: 50%;
}

.bracket-2 {
  .team-item:nth-of-type(odd):after {
    height: 200%;
    top: 50%;
  }
  .team-item:nth-of-type(even):after {
    height: 200%;
    top: -150%;
  }
}

.bracket-3 {
  .team-item:nth-of-type(odd):after {
    height: 350%;
    top: 50%;
  }
  .team-item:nth-of-type(even):after {
    height: 350%;
    top: -300%;
  }
}

.bracket-4 {
  .team-item:nth-of-type(odd):after {
    height: 700%;
    top: 50%;
  }
  .team-item:nth-of-type(even):after {
    height: 700%;
    top: -650%;
  }
}


.bracket:first-of-type {
  .team-item:before {
    display: none;
  }
}

.bracket-4 {
  .team-item:after {
    display: none;
  }
}

.bracket:last-of-type {
  .team-item:before,
  .team-item:after {
    display: none;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}



.team-item#winner{
  background-color: rgb(79, 122, 56);
  padding: .5rem;
  display: block;
  margin: .5rem 10px;
  position: relative;
  vertical-align: middle;
  line-height: 2;
  text-align: center;

}

.team-item#loser{
  background-color: red;
  background-color: rgba(255, 0, 0, 0.5);
  padding: .5rem;
  display: block;
  margin: .5rem 10px;
  position: relative;
  vertical-align: middle;
  line-height: 2;
  text-align: center;

}
